@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


.header{
  display: flex;
  justify-content: space-between;
  
}

li{
  list-style-type: none;
  display: inline-block;
}

ul{
  padding: 0px;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a{
  text-decoration: none;
  color: #2F4F4F;
}

.content{
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  
}
